##--Ignore outputs file to reduce bloat--##
C:\Users\repooley\REP_PhD\Arctic_NPF\NETCARE2015\data\processed
C:\Users\repooley\REP_PhD\Arctic_NPF\FIREACE1998\data\processed
C:\Users\repooley\REP_PhD\Arctic_NPF\PAMARCMiP2012\data\processed

