##--Ignore outputs file to reduce bloat--##
C:\Users\repooley\REP_PhD\Arctic_NPF\NETCARE2015\data
C:\Users\repooley\REP_PhD\Arctic_NPF\FIREACE1998\data
C:\Users\repooley\REP_PhD\Arctic_NPF\PAMARCMiP2012\data
C:\Users\repooley\REP_PhD\Arctic_NPF\ATom2018\data

